// -------------------
// GLOBAL HEADER
//
// Provides set of global header styles.
//
//  .gef-global-header-container  - parent container that wraps global header elements and search elements
//  .gef-global-header__header    - clickable logo element
//
// -------------------



.gef-global-header-container {
  position: relative;
  z-index: 1001;
}




.gef-global-header {
  background: $gef-global-header-bg;
  padding: 11px 0;
  overflow: visible;
  z-index: 2000;

  abbr {
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.3;
  }

  @media #{$gef-mq-md} {
    padding: 12px 0;
  }

  @media #{$gef-mq-lg} {
    padding: 13px 0;
  }
}

.gef-global-header__header {
  font-weight: 400;
  text-decoration: none;
  font-size: 0.75rem;
  float: left;
  color: $base-body-color;

  @media #{$gef-mq-md} {

    font-size: 0.75rem;
    font-weight: 400;

    &:before {
      content: attr(title);
      text-transform: uppercase;
      line-height: 1.8;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $base-body-color;
    }

    abbr {
      display: none;
    }
  }

  @media #{$gef-mq-lg} {
    font-size: 0.95rem;

    &:before {
      line-height: 1.3;
    }
  }
}


.gef-global-header__menu-toggle {
  color: $base-body-color;
}
