// -------------------
// GLOBAL FOOTER
//
// Provides set of global footer styles.
//
//  .gef-global-footer                 - parent container that wraps global footer elements
//  .gef-global-footer__inner          - inner container of the parent container
//  .gef-global-footer__inner__logo    - displays logo
//  .gef-global-footer__inner__wrapper - wraps all inner elements like columns with lists etc...
//
// -------------------

.gef-global-footer {
  background: $gef-lighter-grey;
  padding: 25px 0 21px;

  @media #{$gef-mq-md} {
    padding: 30px 0;
  }

  @media #{$gef-mq-lg} {
    padding: 24px 0 40px;
  }
}

.gef-global-footer__inner {
  position: relative;
}

.gef-global-footer__inner__logo {
  margin-top: 60px;

  img {
    width: 130px;
  }

  @media #{$gef-mq-md} {
    margin-top: 0;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  @media #{$gef-mq-lg} {
    position: relative;
    left: -70%;
    margin-top: 0;

    img {
      width: 170px;
    }
  }
}

.gef-global-footer__inner__wrapper {
  margin: 0 0 33px;

  ul {
    padding: 0;

    li {
      margin: 10px 0 0;
      padding: 0;
    }

    a,
    a:visited {
      color: $gef-dark-grey;
      text-transform: uppercase;
      font-size: 0.825rem;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  @media #{$gef-mq-md} {
    padding-bottom: 100px;
    position: relative;
    left: 40%;
    margin-bottom: 0;

    ul {

      li {
        margin-top: 6px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  @media #{$gef-mq-lg} {
    padding-bottom: 0;
    left: 30%;

    ul {

      li {
        margin: 8px 0 0;

        &:first-child {
          margin: 0;
        }

        a,
        a:visited {
          font-size: 0.875rem;
          font-weight: normal;
        }
      }
    }
  }
}

.gef-feedback-trigger {
  background: transparent;
  border-radius: 4px;
  padding: 10px;
  color: $gef-dark-grey;
  border: 2px solid $gef-dark-grey;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.825rem;
  line-height: 1.2;
  cursor: pointer;
  position: absolute;
  bottom: 75px;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  @media #{$gef-mq-md} {
    bottom: 40px;
  }


  @media #{$gef-mq-lg} {
    position: static;
    font-size: 0.9rem;
    transition: 0.3s background-color;
    outline: 0 none;
    font-weight: 400;
  }
}
