.sws-hero {
  min-height: 200px;
  color: $gef-white;

  &.sws-hero--small {
    min-height: 100px;

    .sws-hero__container {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .sws-hero__lockup {
      text-align: left;
    }

    .sws-hero__logo {
      width: 50px;
      margin-right: 20px;
    }

    .sws-hero__name {
      font-size: 1.4rem;
      margin-top: 0;
    }

    .sws-hero__name-extension {
      display: inline;
      font-size: inherit;
    }
  }

  .sws-hero__container {

  }

  .sws-hero__lockup {
    text-align: center;
    color: $gef-white;
    filter: drop-shadow(0 0 6px $gef-dark-grey);
  }

  .sws-hero__logo {
    filter: invert(100%);
    width: 100px;
    height: auto;
  }

  .sws-hero__name {
    color: $gef-white;
    margin: 10px 0 0 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .sws-hero__name-extension {
    display: block;
    font-size: 1.2rem;
  }

  .sws-hero__slogan {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
  }


  @media #{$gef-mq-md} {
    min-height: 400px;

    &.sws-hero--small {
      min-height: 100px;

      .sws-hero__container {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .sws-hero__logo {
        width: 100px;
        margin-right: 20px;
      }

      .sws-hero__name {
        font-size: 2.7rem;
      }

    }

    .sws-hero__logo {
      width: 150px;
    }

    .sws-hero__name {
      font-size: 2.7rem;
      line-height: 2.5rem;
    }

    .sws-hero__name-extension {
      font-size: 1.8rem;
    }

  }
}
