//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Homepage"

//--- HTML
//---------------------------------------------------------

doctype html
html(lang="en")

  include assets/pug/components/_global-head.pug

  body


    +global_header
    +horizontal_nav(true, true, false, true, false)

    +hero(false)
    div.sws-quicklinks-bg
      div.uk-container.uk-container-center
        +quicklinks(totalQuickLinks, false)
    div.uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom.sws-main-content


      h2 Upcoming Events
      +events
      hr.uk-grid-divider

      h2 Gallery
      +albums(4)
      hr.uk-grid-divider

      h2 Social Media Profile
      +social_profile("facebook","twitter")
      hr.uk-grid-divider

    +global_footer

    +global_mobile_nav(true, true, false, true, false)
    include assets/pug/components/_global-scripts.pug
