//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(lang="en")
    
  include assets/pug/components/_global-head.pug

  body
    
    div.uk-container.uk-container-center
      
      h1 SWS Sandbox Template
      
      ul
        li
          a(href="homepage.html") Homepage
        li
          a(href="standard.html") Standard
