//--- INCLUDES
//---------------------------------------------------------

include assets/pug/core.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Standard"

//--- HTML
//---------------------------------------------------------

doctype html
html(lang="en")

  include assets/pug/components/_global-head.pug

  body

    +global_header
    +horizontal_nav(true, true, false, true, false)

    +hero(true)


    div.uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom.sws-main-content

      +breadcrumbs(4)

      div.uk-grid.data-uk-grid-margin
            div.uk-width-medium-3-4.uk-row-first
              include assets/pug/contents.pug

              h2 Photo gallery
              +gallery(12)

            div.uk-width-medium-1-4
              +vertical_nav

    +global_footer

    +global_mobile_nav(true, true, false, true, false)
    include assets/pug/components/_global-scripts.pug
