head(data-revision=revision)
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href=`assets/css/core.css?r=${revision}`, media='screen')
  link(rel='stylesheet', href=`assets/css/print.css?r=${revision}`, media='print')

  title #{pageName} | #{siteName}
