// This is the off-canvas mobile nav
mixin global_mobile_nav(...items)

    #offcanvas-nav.uk-offcanvas
        .uk-offcanvas-bar.uk-offcanvas-bar-flip
            ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav)
                each item in items
                    if item 
                        li.uk-parent
                            a(href="#")
                                +lipsum(2, "words")
                            ul.uk-nav.uk-nav-navbar
                                +list_item(5)   
                    else
                        li
                            a
                                +lipsum(2, "words")  



                li.uk-nav-header Quick links
                +quicklinks(totalQuickLinks, true) 
