mixin horizontal_nav(...items)

  
  nav.uk-navbar.uk-hidden-small
    div.uk-container.uk-container-center

      ul.uk-navbar-nav.sws-horizontal-nav
        each item in items
          if item 
            li.uk-parent(data-uk-dropdown="" aria-haspopup="true" aria-expanded="false")
              a
                +lipsum(2, "words")
                i.uk-icon-caret-down
            
              div.uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(aria-hidden="true" tabindex="")
                ul.uk-nav.uk-nav-navbar
                  +list_item(5)   
          else
             li
              a
                +lipsum(2, "words")

          
