mixin quicklinks(number, mobile)
  if mobile
    +list_item(number, true)
  else
    ul.uk-subnav.uk-subnav-pill.uk-flex.uk-flex-space-between.uk-hidden-small.uk-margin-bottom-remove.sws-quicklinks
      if number < maxQuickLinksShown
        +list_item(number, true)
      else
        +list_item(maxQuickLinksShown, true)
        li(data-uk-dropdown="{mode:'click'}")
          a More ...
            i.uk-icon-caret-down
          .uk-dropdown.uk-dropdown-small
            ul.uk-nav.uk-nav-dropdown
              -number = number - maxQuickLinksShown
              +list_item(number, true)



