
// STYLES
.sws-main-content {
  h1:after,
  h2:after {
    display: block;
    content: '';
    position: relative;
    margin: 3px 0 25px;
    width: 20px;
    height: 3px;
    background: $sws-secondary;
  }
  .uk-badge {
    background: $sws-secondary;
  }
  blockquote {
    border-left: 5px solid $sws-secondary
  }
}

.sws-quicklinks-bg {
  background: $sws-primary;
  border-bottom: 5px solid $sws-secondary;
  .sws-quicklinks {

    .uk-dropdown {
      background: $sws-primary;
    }
    .uk-nav > li > a {
      color: $gef-white;
    }
    .uk-nav-dropdown>li>a:hover,
    .uk-nav-dropdown>li>a:focus {
      background: darken( $sws-primary, 10%);
    }
    :focus,
    :hover {
      background: darken( $sws-primary, 10%);
    }

    >*>* {
      padding: 10px;
      color: $gef-white;
    }
  }
}
.sws-event-calendar {
  .uk-datepicker-table {
    a.uk-active {
      background: $sws-secondary;
    }
  }
}

.sws-event-list {
  a,
  .uk-link {
    color: $sws-primary;
  }
  figure {
    border-bottom: 5px solid $sws-secondary;
  }
}

.sws-albums__albumn {
  background: $sws-primary;
  color: $gef-white;
}

.sws-social-profile h3 i {
  color: $sws-primary;
}

.sws-vertical-nav {
  background: $sws-primary;
  li.uk-active > a {
    background: lighten( $sws-primary, 10%);
  }
  .uk-nav-side > li > a {
  color: $gef-white;
  }
  .uk-nav-side .uk-nav-header, .uk-nav-side ul a {
    color: darken($gef-white, 50%);
  }
}
