// MEDIA QUERIES

$gef-max-width:                                             1024px;

$gef-mq-md:                                                 "screen and (min-width: 768px)";        // tablet and up
$gef-mq-lg:                                                 "screen and (min-width: #{$gef-max-width})";  // small laptops and up
$gef-mq-xl:                                                 "screen and (min-width: 1220px)";       // larger desktops


// COLOURS

$gef-concrete:                                              rgb(242,242,242);                       // #f2f2f2 lighter grey
$gef-zircon:                                                rgb(224,224,224);                       // #e0e0e0 light grey
$gef-magnesium:                                             rgb(180,180,180);                       // #b4b4b4 Medium
$gef-bright-grey:                                           rgb(86,90,92);                          // #565A5C Strong grey
$gef-mine-shaft:                                            rgb(51,51,51);                          // #333 dark grey

$gef-black:                                                 rgb(0,0,0);                             // black
$gef-dark-grey:                                             $gef-mine-shaft;                        // dark grey
$gef-medium-grey:                                           $gef-bright-grey;                       // medium grey
$gef-light-grey:                                            $gef-magnesium;                         // light grey
$gef-lighter-grey:                                          $gef-zircon;                            // lighter grey
$gef-off-white:                                             $gef-concrete;                          // off white
$gef-white:                                                 rgb(255,255,255);                       // white


// GLOBAL HEADER

$gef-global-header-bg:                                      $gef-lighter-grey !default;
